argparse==1.1
diffusers==0.3.0
einops==0.4.1
jsonmerge==1.8.0
numpy==1.22.4
opencv-python==4.6.0.66
pandas==1.4.2
pytorch-lightning==1.7.4
scikit-image==0.19.3
timm==0.6.7
torchdiffeq==0.2.3
transformers==4.21.2
Pillow==9.0.1
